---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Regresar from "@/components/icons/Regresar.astro";
---

<Layout title="prueba experiencia" description="hola ">
    <SectionContainer class="py-36 md:py-32">
        <a href="/" class="flex flex-wrap justify-end pb-4">
            <span
                class="bg-blue-100 text-blue-800 text-xs font-medium px-3 py-1 rounded-full dark:bg-blue-900 dark:text-blue-300 cursor-pointer flex flex-row gap-x-2 items-center"
            >
                <Regresar class="size-5" />
                Regresar
            </span>
        </a>

        <section>
            <div
                class="container mx-auto flex px-5 py-10 md:flex-row flex-col items-center"
            >
                <div class="mb-10">
                    <img
                        class="object-cover object-center rounded-full"
                        alt="Grupo Empresarial Nexos"
                        src="/public/company/logo nexos.webp"
                    />
                </div>
                <div
                    class="lg:flex-grow md:w-1/2 lg:pl-20 md:pl-12 flex flex-col md:items-start md:text-left items-center text-center"
                >
                    <h1
                        class="title-font sm:text-5xl text-4xl mb-4 font-medium text-yellow-500"
                    >
                        Grupo Empresarial Nexos SAS
                    </h1>
                    <h3
                        class="title-font sm:text-3xl text-3xl mb-4 font-medium text-yellow-200"
                    >
                        Desarrollador Frontend y Operador Logístico
                    </h3>
                    <p class="mb-4 leading-relaxed text-white">
                        Durante la pandemia de 2020, fui seleccionado para
                        formar parte del equipo responsable de la migración del
                        sistema de votación presencial a una plataforma de
                        votación virtual en Grupo Empresarial Nexos SAS, una
                        empresa especializada en el alquiler de equipos
                        audiovisuales y sistemas de votación para organizaciones
                        bajo la figura de propiedad horizontal. Mi rol fue
                        crucial en el rediseño y desarrollo de una interfaz de
                        usuario atractiva e intuitiva, lo que resultó en un
                        incremento del 60% en la interactividad con los usuarios
                        finales.
                    </p>
                </div>
            </div>
        </section>

        <section>
            <h4 class="font-bold text-white pb-4">Principales logros:</h4>

            <ul>
                <li class="text-white py-2 font-light">
                    <span class="text-yellow-300 font-semibold"
                        >Rediseño completo de la plataforma:</span
                    > Transformé una plataforma rudimentaria en una solución moderna
                    y visualmente coherente, implementando la paleta de colores corporativa
                    y dividiendo las funcionalidades clave en módulos que luego integré
                    en una única plataforma cohesiva. Esta actualización también
                    incluyó el desarrollo de la plataforma administrativa de la empresa.
                </li>
                <li class="text-white py-2 font-light">
                    <span class="text-yellow-300 font-semibold"
                        >Adaptación a nuevos frameworks:</span
                    > A pesar de no tener experiencia previa con frameworks, adquirí
                    rápidamente conocimientos en Angular y Bootstrap, logrando implementar
                    componentes visuales clave para el frontend de la plataforma.
                    Este desafío fue especialmente significativo, ya que hasta ese
                    momento solo había trabajado con HTML, CSS, y JavaScript en un
                    nivel básico.
                </li>
                <li class="text-white py-2 font-light">
                    <span class="text-yellow-300 font-semibold"
                        >Desarrollo integral en un entorno ágil:</span
                    > En un entorno de empresa pequeña, asumí responsabilidades tanto
                    de diseño UX como de desarrollo frontend. Esto me permitió comprender
                    y abordar de manera integral las necesidades de los usuarios,
                    colaborando estrechamente con el equipo de backend que se encargaba
                    de la lógica del servidor.
                </li>
                <li class="text-white py-2 font-light">
                    <span class="text-yellow-300 font-semibold"
                        >Capacitación acelerada y efectiva:</span
                    > La empresa proporcionó cursos de Udemy sobre Angular, lo que
                    me permitió adquirir rápidamente las bases necesarias para contribuir
                    al desarrollo del proyecto. Esta formación autodirigida fue clave
                    para el éxito de la migración a la plataforma virtual.
                </li>
            </ul>

            <h3 class="font-bold text-white pt-6">Funciones adicionales:</h3>

            <ul>
                <li class="text-white py-2 font-light">
                    <span class="text-yellow-300 font-semibold"
                        >Moderación y organización de asambleas:</span
                    >Además de mis responsabilidades técnicas, también fui
                    responsable de moderar y organizar asambleas en sus tres
                    modalidades: presencial, virtual, y mixta. Esta función
                    exigía una combinación de habilidades organizativas y
                    técnicas para asegurar que las reuniones se llevaran a cabo
                    de manera efectiva y sin contratiempos.
                </li>
            </ul>

            <h4 class="font-bold text-white py-5">Impacto del proyecto:</h4>
            <p></p>
        </section>
    </SectionContainer>
</Layout>
