---
const personalImageAlt = "Miguel Andrés Valenzuela Maldonado";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-300 [&>p>strong]:font-normal order-2 md:order-1"
  >
    <p>
      ¡Hola! <strong>Soy Miguel Andrés Valenzuela</strong>, un dedicado
      desarrollador frontend con una profunda pasión por el <strong
        >diseño UX/UI</strong
      > y en constante aprendizaje. Mi viaje en el mundo del desarrollo web comenzó
      en 2021 cuando tuve la oportunidad de <strong
        >diseñar mi primera interfaz para una empresa.</strong
      > Este proyecto inicial no solo me permitió aprender los conceptos básicos
      del desarrollo web, sino que también encendió en mí una pasión inquebrantable
      por crear experiencias digitales impactantes.
    </p>

    <p>
      A lo largo de mi carrera, he desarrollado habilidades sólidas en
      tecnologías como <strong>React, Astro, HTML, CSS, Tailwind</strong> y tengo
      experiencia básica en Angular. Mi enfoque en UX/UI me permite <strong
        >diseñar bocetos atractivos</strong
      > que se adaptan a las necesidades del usuario final, poniendo un énfasis especial
      en la accesibilidad y la estética visual.
    </p>

    <p>
      De cara al futuro, una de mis grandes metas es unirme al equipo de <strong
        >Mercado Libre</strong
      >, una empresa que admiro profundamente por <strong
        >sus valores, su innovación constante y su influencia en el mercado
        LATAM</strong
      >. Para mí, Mercado Libre no solo representa una de las mejores empresas
      de la región, sino también un espacio donde <strong
        >puedo crecer como profesional</strong
      >, rodeado de un equipo que comparte mis principios de calidad,
      colaboración y creatividad.
    </p>

    <p>
      Además, sueño con crear un <strong
        >medio de comunicación digital centrado en la cultura geek</strong
      >, que revolucione la forma en que consumimos información sobre
      tecnología, videojuegos, cómics, y todo lo relacionado con el mundo geek.
      Utilizando tecnologías como JavaScript, APIs y frameworks modernos como
      <strong>React y Astro</strong>, mi objetivo es desarrollar una plataforma
      dinámica y escalable, con una arquitectura robusta y un diseño responsivo,
      que ofrezca contenido atractivo, accesible y relevante. Este proyecto me
      permitirá no solo aplicar mis habilidades de programación para construir
      algo nuevo desde cero, sino también <strong>optimizar y mejorar</strong> continuamente
      la experiencia del usuario a través de <strong
        >implementaciones iterativas</strong
      >. Quiero crear un espacio que no solo informe, sino que también inspire
      y conecte a personas con intereses similares en toda la región y más allá.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/photo.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>

<!-- FRASES PROHIBIDAS EN VUESTRO PORTFOLIO

<p>
  Mi sueño es encontrar mi primer empleo en el mundo de la programación. Una empresa donde pueda seguir aprendiendo. ❌
</p>

<p>
  ❌ Apasionado de la programación desde chekitito. Me encantan los ordenadores y crear páginas web buenas y rápidas con la última tecnología.
</p>

<p>
  Trabajo bien en equipo. Siempre estoy aprendiendo cosas nuevas.
</p>

-------------------------------------

--------------------------------------

<p>
  ¡Soy Leo! Estudié Derecho Empresarial y, tras años ejerciendo, me pasé al mundo de la Programación. Desde entonces disfruto creando experiencias web para los usuarios.
</p>

<p>
  Entre mis éxitos destaco que durante el Grado Superior, ayudé a mis compañeros a aprender sobre TDD. Me encanta el testing, creo en su importancia, y me gusta compartir mi conocimiento sobre ello.
</p>

<p>
  Cuento con experiencia desarrollando aplicaciones móviles, y he creado una iniciativa llamada X para mezclar mis dos pasiones: la programación y el derecho. Ayudando a la sociedad a acceso a una defensa justa.
</p>

---------------------------------------

<p>Me llamo Sara, tengo 25 años y soy de Santiago, Chile 🇨🇱. Terminé mis estudios como Desarrolladora Web. Me encanta enfocarme en la parte del rendimiento, para ofrecer la mejora experiencia al usuario.</p>

<p>
  Colaboro en la organización del MeetUp local BeerJS donde reunimos a desarrolladores de Santiago para compartir conocimiento y experiencias. El año 2023 hicimos un total de 25 charlas con más de 2000 asistentes.
</p>

<p>
  Además de participar activamente en la comunidad, he participado en la Hackathon de Midudev quedando en 3er puesto con mi proyecto _Chatty_, donde usando IA podías interactuar con un PDF. ¡Échale un vistazo!
</p>

-->
