---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Febrero 2022 - Febrero 2023",
    title: "Desarrollador Frontend y Operador Logístico",
    company: "Grupo Empresarial Nexos SAS",
    description:
      "Diseñé y desarrollé una parte clave de la plataforma de votaciones destinada a organizaciones bajo la figura de propiedad horizontal. Creé una interfaz de usuario atractiva e intuitiva que mejoró la interactividad con el cliente final en un 60%. Mi trabajo incluyó la implementación de componentes visuales en Angular, asegurando una experiencia de usuario fluida y accesible.",
    link: "/prueba",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
